.navbar-lewagon {
  justify-content: space-between;
  background: #f5e3b0;
  color:#4f4b2b;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
