// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "chats";

.btn-danger {
  background-color: #e63946;   /* rojo personalizado */
  border-color: #e63946;
  border-radius: 12px;         /* esquinas curvas */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}

.btn-danger:hover {
  background-color: #ffffff;   /* rojo más oscuro al pasar el mouse */
  border-color: #d62828;
  transform: translateY(-2px);
}

.btn.btn-primary {
  background-color: #ffffff;   /* rojo personalizado */
  color:#0D6EFD;
  border-color: #0D6EFD;
  border-radius: 20px;         /* esquinas curvas */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #0D6EFD;   /* rojo más oscuro al pasar el mouse */
  border-color: #15106e;
  color: white;
  transform: translateY(-2px);
}
.titulo {
  color: rgb(250, 147, 36);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  padding: 20px 0;
  margin: 0;
  width: 100%;
  text-align: center;  /* centra el texto */
  display: block;      /* asegura que se comporte como bloque */
}